<h1>List by tag: <%=tagName%></h1>

<form method="GET" action="/item/add">
	<input type="submit" value="Add Item">
</form>
<table border="1" style="width:50%">
<%items.forEach(function(item){%>
<tr>
	<td>
		<img height="160" width="120" alt="no image available" src="<%=item.coverImageUrl%>">
		<a href="/item/view/<%=item._id%>"><input width="100" type="Button" value="View full"></a>
	</td>
	<td>
		<h3><%=item.name%></h3>
		<p>category: <%=item.category%></p>
	</td>
	<td>
		<h3>tags:</h3>
		<%item.tags.forEach(function(tag){%>
		<p><a href="/tags/<%=tag%>"><%=tag%></a></p>
		<%})%>
	</td>
	<td>
		<p><%=item.description%></p>
	</td>
	<td>
		<form method="POST" action="/item/edit/<%=item._id%>">
			<input type="submit" value="Edit">
		</form>
		<form method="POST" action="/item/delete/<%=item._id%>?_method=DELETE">
			<input type="submit" value="Remove">
		</form>
	</td>
</tr>
<%})%>
</table>
<br><br>
<form method="GET" action="/tags/<%=tagName%>">
	<%for(var i = 1; i <= page ; i++){%>
	<input type="submit" value=<%=i%> name="page">
	<%}%>
</form>